@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

*{
    font-family: Arvo;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: rgb(255, 232, 158);
}

p{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

h1{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

main {
    height: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

main .pontis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#upgrades {
    margin-bottom: 20px;
}

main #pudim {
    margin-top: 20px;
    margin-bottom: 20px;
}

main .pontis button {
    width: 200px;
    display: flex;
    margin-bottom: 10px;
    background-color: rgb(143, 110, 18);
    border-radius: 5px;
    border:solid rgb(0, 0, 0) 1px;
    cursor: pointer;
}

main .pontis img {
    transition: 150ms;
    width: 200px;
    cursor: pointer;
}

main .pontis img:active {
    transition: 150ms;
    width: 150px;
    cursor: pointer;
}

header,
footer{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100px;
    width: 100%;
}

footer p {
    width: fit-content;
}

/*o position absolute como o nome diz deixa ele com a posição absoluta podendo se mover por toda a tela*/
main #presente {
    position: absolute;
}

main #presente img {
    width: 100px;
    display: flex;
}














/*Contribuicao*/
.Contribuicao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    font-size: 15px;
}
.Contribuicao img {
    height: 50px;
    width: 50px;
}